*{
	margin: 0;
	padding: 0;
	outline: none;
	border:none;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}

a:hover {
	text-decoration: none;
}
ul,h1,h2,h3,h4 {
	margin-bottom: 0px;
}

$ezreal: #36eab0;
$mfont: Helvetica, sans-serif;

body {
	font-family: 'Kotta One', serif;
	background: rgba(50, 226, 173, .1);

}


.header_fluid{
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 1;
	// border-bottom: 1px solid #000;
	// background: rgba(50, 226, 173, .6);

.header_container {

		.logo {

				a {
					display: inline-block;

						img {
							width: 60px;
							height: auto;
							padding: 20px 0;
							 padding-top: 10px;
						}
				}
		}


		.navigation {

			ul  {
				display: flex;
				height: 100%;

					li {

						padding: 0px 23px;
						height: 100%;
    					display: flex;
    					align-items: center;

							&:last-child {
								padding-right: 0;
							}

						a {
							color: #252525;
							position: relative;
							padding: 0px 5px;
							transition:.5s;
							text-transform: uppercase;
							font-size: 14px;
							letter-spacing: 1px;
							transition:.4s;

							&:hover {
								color: $ezreal;
							}


							&:hover:after {
								
								width: 100%;
								right: 0;
							}

							&:after {
								content: "";
								position: absolute;
								width: 0%;
								height: 3px;
								border-radius: 30px;
								background-color: $ezreal;
								bottom: -11px;
								left: 50%;
								transform:translateX(-50%);								
								letter-spacing: 0.5px;
								transition:.4s;
								padding-top: 5px;
							}
						}
					}
			}
		}
}

}

.main_fluid {

	background-image: url("../img/christopher-gower-291246-unsplash.jpg");
	margin-top: 98px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	background-position: center center;
	cursor: none;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	background-attachment: fixed;
	overflow: hidden;

		.paperjs {
			width: 100%;
			height: 100%;
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
				canvas[resize] {
    				width: 100%;
    				height: 100%;
}

		}

		.main_row{

			// display: flex;
			// align-items:center;
			height: 100%;
			background-color: rgba(54, 234, 176, .2);
		.main_col {
			// display: flex;
			// justify-content:flex-end;
			text-align: right;

				.main_text {

					 h1 {
					 	color: #1fb89b;
					 	font-size: 42px;
					 	letter-spacing: 14px;
					 	color: #fff;
    					// font-family: arial;
    					margin-top: 30px;
    					text-transform: capitalize;

					 }
				}
		}

}


}



.about_cont {
	overflow: hidden;
	.name_row {
		padding: 100px 0;
		padding-top: 30px;
    	margin-top: 70px;

				.about_text {
					 img {
					 	display: inline-block;

					 }

					 h2 {
					 	margin: 15px 0;
					 }

					 span {
					 	font-style: italic;
					 }
				}
	}


	.img_row {
		margin-top: 10px;
		margin-bottom: 130px;


			.about_text {
				border: 3px solid $ezreal;
				padding: 25px 10px;
				padding-bottom: 0px;
				    height: 358px;
				position: relative;
				    border-radius: 10px;

				p:nth-child(2){

					margin-bottom: 120px;
				}
			 


				.fa_icons {
					width: 100%;
					display: flex;
					justify-content: space-evenly;
					background: $ezreal;
					    padding: 10px 0;
   					 position: absolute;
   					 bottom: 0;
   					 left: 0;

						a {

							display: inline-block;
							background-color: #1bb098;
							width: 60px;
							height: 60px;
							clip-path: polygon(0 19%, 0 0, 15% 0, 87% 0, 100% 0, 100% 18%, 100% 80%, 100% 100%, 83% 100%, 14% 100%, 0 100%, 0 80%);
							display: flex;
							border-radius: 5px;
								justify-content: center;
								align-items:center;
								transition:.4s;

								&:hover {
									background-color: #000;
									clip-path: polygon(0 19%, 18% 18%, 15% 0, 87% 0, 82% 15%, 100% 18%, 100% 80%, 78% 82%, 83% 100%, 14% 100%, 21% 81%, 0 80%);

								}

								&:hover i{
									color: $ezreal;
									
								}



							i {
								color: #000;
								transition:.4s;
								font-size: 35px;
							}
						}
				}
			}

				.img_box {
					overflow: hidden;
					text-align: center;
					width: 100%;
    				margin: 0 auto;
    				// height: 500px;
    				border-radius: 10px;
    				height: 358px;

					 img {
					 	transition : .4s;
					 	 height: 100%;
					 	 width: 100%;
					 	 cursor: pointer;
					 	     // border-radius: 10px;

					 	 	&:hover {
					 	 		transform:scale(1.2,1.2);					 	 	
					 	 	}
					 }
				}
			
	}
}


.skills_container {

			padding: 30px 0;

		.skil_tittle {
			margin-bottom: 50px;

			p {
				margin-top: 30px;
			}
		}



		.skil_info {
			margin-top: 30px;
			padding-left: 30px;
		}


		.skil_progress_bar {
			    height: 25px;
    			// background: #22eaaa;
    			background: linear-gradient(to right, rgba(54,234,176,1) 0%, rgba(26,173,151,1) 100%);
    			border-radius: 20px;
    			width: 0%;
    			margin-top: 30px;
    			padding-right: 5px;
    			box-shadow: 5px 3px 13px 2px black;

    			span {
    				padding-right: 10px;
    				font-weight: bold;

    			}
		}
}



.skil_html {

    position: relative;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
  	animation-timing-function: linear;

}

@keyframes html {

   	0% { left:0%;width: 0%}

    100% { left:0%;width: 88%}
}




.skil_css {

    background-color: red;
    position: relative;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
   	animation-timing-function: linear;

}
@keyframes css {
   
	0% { left:0%;width: 0%}
    100% { left:0%;width: 83%}
}



.skil_bootstrap {

    background-color: red;
    position: relative;
    animation-name: bootstrap;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

@keyframes bootstrap {
   
	0% { left:0%;width: 0%}
    100% { left:0%;width: 73%}
}


.skil_javascript {

    background-color: red;
    position: relative;
    animation-name: javascript;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;


}

@keyframes javascript {
   
	0% { left:0%;width: 0%}
    100% { left:0%;width: 33%}
}

.skil_jquery {

    background-color: red;
    position: relative;
    animation-name: jquery;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;;

}

@keyframes jquery {
   
	0% { left:0%;width: 0%}
    100% { left:0%;width: 44%}
}



.experience_box {

	        margin-top: 200px;
    		padding: 50px 0;
    		padding-bottom: 120px;
    		overflow: hidden;

		.exp_tittle_row {
			margin-bottom: 70px;
		}

		.exp_row{
			// margin-top: 100px;

			.time_col{

					display: flex;
				    align-items: baseline;
				    justify-content: flex-end;
				    padding-top: 13px;
				    padding-right: 45px;

				span {
				font-size: 16px;
			    font-weight: 700;
			    background: #22eaaa;
			    color: #fff;
			    padding: 8px 25px;
			    // margin-left: 99px;
			    border-radius: 5px;

				}
			}


			.exp_col{

			border-left: 1px solid #888;
		    padding: 20px 0 40px 30px;
				.exp_info {


					h4 {
						position: relative;

						&:after {
							      content: '';
							    width: 15px;
							    height: 15px;
							    background: #999999;
							    position: absolute;
							    border-radius: 50px;
							    left: -38px;
							    margin-top: 5px;
						}
					}
					

					h5 {
						 color: #888888;
    					margin: 23px 0;
					}

					p {
						color: #888888
					}
				}

			}
		}
}



.portf_container {
	padding-top: 30px;



		.portf_tittle {
			h4 {
				color: #000;
     			font-size: 36px;
			}
		}

		.boxes_row{

			margin: 50px 0;

		.port_box {

			// overflow: hidden;
			border: 5px solid $ezreal;
			margin-top: 50px;
			 border-radius: 5px;
			 position: relative;
			 cursor: pointer;

			 &:after {
			 	content: "";
			 	width: 100%;
			 	height: 100%;
			 	top: 0;
			 	left: 0;
			 	background-color: rgba(54, 234, 176, .4s);
			 	position: absolute;
			 	transform:scale(0);
			 	transition:.3s;
			 }

			 &:hover:after {
			 	transform:scale(1);
			 }




			a  {

				display: block;
				transition:.3s;

					img {
						width: 100%;
						display: block;
						transition: .4s;
						clip-path: polygon(0 11%, 0 0, 11% 0, 87% 0, 100% 0, 
							100% 8%, 100% 90%, 200% 100%, 90% 100%, 12% 100%, 0 100%, 0 89%);
						cursor: pointer;




					
		}
					}
			}

		}	

}



@keyframes hvr-ripple-out {

	// 0% {
 //    top: -12px;
 //    right: -12px;
 //    bottom: -12px;
 //    left: -12px;
 //    opacity: 1;
 //  }
  100% {
    top: -32px;
    right: -32px;
    bottom: -32px;
    left: -32px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: $ezreal solid 11px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay:.1s;
  cursor: pointer;

}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}





		.conact_cont {
			padding: 100px 0;
			overflow: hidden;

				.contact_tittle {
					h4 {

						font-weight: bold;
						font-size: 36px;
					}
				}
		}

.contact_fluid {

	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 0;
	position: relative;
	background-color: rgba(0, 0, 0,.7);
	    padding: 100px 0;
	    overflow: hidden;
	


		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: url("../img/contact-background.jpg");
			z-index: -1;
		}


		.row {
				

			.contact_right {

					    padding: 45px 10px;
				.fa_icons {
						margin-top: 40px;

					span {
						display: block;
						color: #fff;
						display: flex;
   						 align-items: center;
   						 margin-bottom: 35px;

						.fas {
							color: #36eab0;
							font-size: 37px;
    						display: inline-block;
    						margin-right: 40px;
						}
					}

				}

				.cnt_text {
					 p {
					 	color: #fff;
					 	
					 	font-size: 18px;
					 	line-height: 34px;
					 }
				}
			}



			.contact_mail {
				

					form {

						input {
							display: block;
							background-color: transparent;
							border-bottom: 1.5px solid #fff;
							padding: 10px;
							margin-top: 20px;
							color: #fff;
							width: 85%;

								&:focus {
									border-color: $ezreal;
								}

								
						}

						input[type="submit"]{
							background-color: #36eab0;
							display: inline-block;
							width: unset;
							padding: 5px 25px;
							color: #fff;
							border: none;
							text-transform: uppercase;
							font-weight: bold;
							cursor: pointer;
						}


						textarea {
							background-color: transparent;
							border-bottom: 1.5px solid #fff;
							margin-top: 20px;
							color: #fff;
							padding: 10px;
							width: 85%;
							height: 160px;
							resize:none;

								&:focus {
									border-color: $ezreal;
								}

						}
					}
			}
		}

}



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgba(54, 234, 176, .9);
}

.overlay-content {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.resp_navbar {
	display: none;
}

@media screen and (max-width: 992px) {
  
  .navigation {
  	display: none;
  }

  .resp_navbar {
  	    display: flex;
    	align-items: center;
  }

.main_fluid {
	height: 600px;
}
.main_fluid .main_row .main_col .main_text h1 { 
   font-size: 30px;
   
}

.about_cont .img_row .img_box {
 
    height: 267px;
}
.about_cont .img_row .about_text {
   height: 267px;
   padding: 10px 7px;
   font-size: 12px;
}

.about_cont .img_row .about_text .fa_icons {

    padding: 5px 0;
   
}
.about_cont .img_row .about_text .fa_icons a {
   
    width: 45px;
    height: 45px;

    					i {
    						font-size: 28px;
    					}

}

.experience_box .exp_row .time_col {
  
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 15px;
}
.experience_box .exp_row .exp_col {
    border-left: unset;
    border-bottom: 1px solid #888;
    padding: 20px 0 7px 30px;
    margin-bottom: 40px;
}

.about_cont .name_row {

    padding-bottom: 37px;
}
.skills_container .skil_tittle {
    margin-bottom: 20px;
}
.skills_container .skil_tittle p {
    margin-top: 15px;
}
.experience_box .exp_tittle_row {
    margin-bottom: 45px;
}

.portf_container .boxes_row {
    margin-top: 0;
}
.conact_cont {

    padding-bottom: 40px;
}
.contact_fluid:after {
  
 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_fluid {
  
    padding: 35px 0;

}
  
}







@media screen and (max-width: 768px) {
  
.paperjs {
	display: none;
}

.main_fluid {
	height: 600px;
	    background-position: center -111px;
	    cursor: unset;
	    background-attachment: unset;
	    background-position: center center;
	        height: 380px;
}
.main_fluid .main_row .main_col .main_text h1 { 
   font-size: 25px;
   
}

.about_cont .img_row .img_box {
    height: unset;
    margin-bottom: 25px;
}
.about_cont .img_row .about_text {
    height: unset;
        padding: 25px 10px;
    font-size: 20px;
}
.experience_box .exp_row .exp_col .exp_info h4:after {
   
   left: -17px;
    top: 2px;
    width: 10px;
    height: 10px;
}
.experience_box {
   
    padding-left: 18px;
}
.skills_container {

    padding-left: 15px;
    padding-right: 15px;
}

  
}



@media screen and (max-width: 576px) {
  
.main_fluid .main_row .main_col .main_text h1 {
    font-size: 19px;
}


.about_cont .img_row .about_text {

    font-size: 16px;
}
.experience_box {

    padding-bottom: 15px;
 
}
.portf_container .boxes_row {
    margin: 0px 0;
}

.portf_container .boxes_row .port_box {
   
    margin-top: 30px;
}

.conact_cont {
    padding: 80px 0;
    overflow: hidden;
    padding-bottom: 35px;
}
  
}


@media screen and (max-width: 370px) {


.about_cont .img_row .about_text {
    font-size: 14px;
}
.about_cont .img_row .about_text p:nth-child(2) {
    margin-bottom: 60px;
}


}