* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

ul, h1, h2, h3, h4 {
  margin-bottom: 0px; }

body {
  font-family: 'Libre Baskerville', serif;
  background: rgba(50, 226, 173, 0.1); }

.header_fluid {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1; }
  .header_fluid .header_container .logo a {
    display: inline-block; }
    .header_fluid .header_container .logo a img {
      width: 60px;
      height: auto;
      padding: 20px 0;
      padding-top: 10px; }
  .header_fluid .header_container .navigation ul {
    display: flex;
    height: 100%; }
    .header_fluid .header_container .navigation ul li {
      padding: 0px 23px;
      height: 100%;
      display: flex;
      align-items: center; }
      .header_fluid .header_container .navigation ul li:last-child {
        padding-right: 0; }
      .header_fluid .header_container .navigation ul li a {
        color: #252525;
        position: relative;
        padding: 0px 5px;
        transition: .5s;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        transition: .4s; }
        .header_fluid .header_container .navigation ul li a:hover {
          color: #36eab0; }
        .header_fluid .header_container .navigation ul li a:hover:after {
          width: 100%;
          right: 0; }
        .header_fluid .header_container .navigation ul li a:after {
          content: "";
          position: absolute;
          width: 0%;
          height: 3px;
          border-radius: 30px;
          background-color: #36eab0;
          bottom: -11px;
          left: 50%;
          transform: translateX(-50%);
          letter-spacing: 0.5px;
          transition: .4s;
          padding-top: 5px; }

.main_fluid {
  background-image: url("../img/christopher-gower-291246-unsplash.jpg");
  margin-top: 98px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 48vw;
  background-position: center center;
  cursor: none;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  background-attachment: fixed;
  overflow: hidden; }
  .main_fluid .paperjs {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(50, 226, 173, 0.1);
    position: absolute;
    top: 0;
    left: 0; }
    .main_fluid .paperjs canvas[resize] {
      width: 100%;
      height: 100%; }
  .main_fluid .main_row {
    height: 100%; }
    .main_fluid .main_row .main_col {
      text-align: right; }
      .main_fluid .main_row .main_col .main_text h1 {
        color: #1fb89b;
        font-size: 42px;
        letter-spacing: 14px;
        color: #fff;
        margin-top: 30px;
        text-transform: capitalize; }

.about_cont .name_row {
  padding: 100px 0; }
  .about_cont .name_row .about_text img {
    display: inline-block; }
  .about_cont .name_row .about_text h2 {
    margin: 15px 0; }
  .about_cont .name_row .about_text span {
    font-style: italic; }
.about_cont .img_row {
  margin-top: 10px;
  margin-bottom: 130px; }
  .about_cont .img_row .about_text {
    border: 3px solid #36eab0;
    padding: 25px 10px;
    padding-bottom: 0px;
    position: relative;
    border-radius: 10px; }
    .about_cont .img_row .about_text p:nth-child(2) {
      margin-bottom: 120px; }
    .about_cont .img_row .about_text .fa_icons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      background: #36eab0;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      left: 0; }
      .about_cont .img_row .about_text .fa_icons a {
        display: inline-block;
        background-color: #1bb098;
        width: 60px;
        height: 60px;
        clip-path: polygon(0 19%, 0 0, 15% 0, 87% 0, 100% 0, 100% 18%, 100% 80%, 100% 100%, 83% 100%, 14% 100%, 0 100%, 0 80%);
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        transition: .4s; }
        .about_cont .img_row .about_text .fa_icons a:hover {
          background-color: #000;
          clip-path: polygon(0 19%, 18% 18%, 15% 0, 87% 0, 82% 15%, 100% 18%, 100% 80%, 78% 82%, 83% 100%, 14% 100%, 21% 81%, 0 80%); }
        .about_cont .img_row .about_text .fa_icons a:hover i {
          color: #36eab0; }
        .about_cont .img_row .about_text .fa_icons a i {
          color: #000;
          transition: .4s;
          font-size: 35px; }
  .about_cont .img_row .img_box {
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px; }
    .about_cont .img_row .img_box img {
      transition: .4s;
      height: 100%;
      width: 100%;
      cursor: pointer; }
      .about_cont .img_row .img_box img:hover {
        transform: scale(1.2, 1.2); }

.skills_container .skil_tittle {
  margin-bottom: 50px; }
  .skills_container .skil_tittle p {
    margin-top: 30px; }
.skills_container .skil_info {
  margin-top: 30px;
  padding-left: 30px; }
.skills_container .skil_progress_bar {
  height: 25px;
  background: linear-gradient(to right, #36eab0 0%, #1aad97 100%);
  border-radius: 20px;
  width: 100%;
  margin-top: 30px; }
  .skills_container .skil_progress_bar span {
    padding-right: 10px;
    font-weight: bold; }

.skil_html {
  position: relative;
  animation-name: html;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes html {
  0% {
    left: 0%;
    width: 0%; }
  100% {
    left: 0%;
    width: 88%; } }
.skil_css {
  background-color: red;
  position: relative;
  animation-name: css;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes css {
  0% {
    left: 0%;
    width: 0%; }
  100% {
    left: 0%;
    width: 83%; } }
.skil_bootstrap {
  background-color: red;
  position: relative;
  animation-name: bootstrap;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes bootstrap {
  0% {
    left: 0%;
    width: 0%; }
  100% {
    left: 0%;
    width: 73%; } }
.skil_javascript {
  background-color: red;
  position: relative;
  animation-name: javascript;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes javascript {
  0% {
    left: 0%;
    width: 0%; }
  100% {
    left: 0%;
    width: 33%; } }
.skil_jquery {
  background-color: red;
  position: relative;
  animation-name: jquery;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes jquery {
  0% {
    left: 0%;
    width: 0%; }
  100% {
    left: 0%;
    width: 44%; } }
.experience_box {
  padding: 190px 0; }
  .experience_box .exp_tittle_row {
    margin-bottom: 70px; }
  .experience_box .exp_row .time_col {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding-top: 13px;
    padding-right: 45px; }
    .experience_box .exp_row .time_col span {
      font-size: 16px;
      font-weight: 700;
      background: #22eaaa;
      color: #fff;
      padding: 8px 25px;
      border-radius: 5px; }
  .experience_box .exp_row .exp_col {
    border-left: 1px solid #888;
    padding: 20px 0 40px 30px; }
    .experience_box .exp_row .exp_col .exp_info h4 {
      position: relative; }
      .experience_box .exp_row .exp_col .exp_info h4:after {
        content: '';
        width: 15px;
        height: 15px;
        background: #999999;
        position: absolute;
        border-radius: 50px;
        left: -38px;
        margin-top: 5px; }
    .experience_box .exp_row .exp_col .exp_info h5 {
      color: #888888;
      margin: 23px 0; }
    .experience_box .exp_row .exp_col .exp_info p {
      color: #888888; }

/*# sourceMappingURL=style.css.map */
